$grey: #7f7f7f;
$blue: #62c917;
$green: #00d7e5;
$turquoise: #00d7e5;
$violet: #6323c3;
$yellow: #ffdd00;
$red: #c35423;
$pink: #c322bd;

$text-color: #ffffff;
$background-color: #d4d4d4;
$border-color: #666666;

$slide-height: 700px;
$slide-width: 900px;

@import "compass";

@import "global/typography";
@import "global/pre";
@import "global/links";

@import "layouts/default";

@import "partials/slides";
@import "partials/presentation-counter";
@import "partials/figures";

p { color: $text-color; }
.title header { width: 900px; }
.playing.reveal { display:none; }
strong { color: lighten(#62c917, 20%); text-shadow: 0px 0px 10px #62c917; }
.title-only h1 { color: mix(#62c917, #fff, 10%); }
.title-only strong { color: #fff; text-shadow: 0px 0px 15px #aaa; }
footer small { color: #888; }
footer a {text-decoration:underline;}
